@font-face {
    font-family: "CustomFont";
    src: url("Segment7.otf");
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 100px;
    border: black 2px solid;
    width: 400px;
    border-radius: 50px;
    padding: 50px 30px;

    grid-template-rows: repeat(5, 20fr);
    grid-template-columns: repeat(4, 25fr);
    background-color: #231e44;
}

.screen {
    height: 80px;
    display: block;
    overflow-wrap: break-word;
    font-family: "CustomFont", sans-serif;
    padding-top: 10px;
    padding-right: 5px;
    font-size: 70px;
    border: black 2px solid;
    border-radius: 10px;
    margin-bottom: 40px;
    background-color: aliceblue;
    text-align: end;
}

.keypad {
    width: inherit;
    border-radius: 20px;
    display: grid;
    grid-template:  repeat(5, 25fr) / repeat(4, 25fr);
    grid-gap: 5px;
}

.numeric {
    display: grid;
    grid-template: repeat(4, 4fr) / repeat(3, 3fr);
    grid-area: num;
    grid-gap: 5px;
}
.key {
    padding-top: 30px;
    padding-bottom: 30px;
    border: black 2px solid;
    grid-row-start: span 1;
    grid-column-start: span 1;
    border-radius: 5px;
    text-align: center;
    font-size: 25px;
    background-color: lightsteelblue;
}

.key.large {
    grid-column-start: span 2;
}

.op{
    background-color: coral;
    font-weight: bold;
}
#ac {
    background-color: lightcoral;

}

#del {
    background-color: lightpink;

}
#eq {
    background-color: darkorange;
    font-weight: bold;
}